on early-boot
    # LiveDisplay sysfs
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/cabc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_acl
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_cabc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_dc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_hbm
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm
    chown system system /sys/devices/virtual/graphics/fb0/acl
    chown system system /sys/devices/virtual/graphics/fb0/aco
    chown system system /sys/devices/virtual/graphics/fb0/cabc
    chown system system /sys/devices/virtual/graphics/fb0/hbm
    chown system system /sys/devices/virtual/graphics/fb0/rgb
    chown system system /sys/devices/virtual/graphics/fb0/sre
    chown system system /sys/devices/virtual/graphics/fb0/color_enhance
    chown system system /sys/devices/virtual/graphics/fb0/reading_mode

service vendor.livedisplay-sysfs /vendor/bin/hw/vendor.lineage.livedisplay-service.sysfs
    class hal
    user system
    group system
