on init
    chown system radio /sys/class/asuslib/slow_charging_enable
    chown system radio /sys/class/qcom-battery/restricted_charging
    chown system radio /sys/class/sec/switch/afc_disable

service vendor.fastcharge-hal-1-0 /vendor/bin/hw/vendor.lineage.fastcharge@1.0-service
    class hal
    user system
    group system
